# Local MongoDB
# MONGO_URI=mongodb://127.0.0.1:27017/markfinance

# MongoDB Atlas (replace user, password, cluster)
# MONGO_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/markfinance?retryWrites=true&w=majority

MONGO_URI=mongodb://127.0.0.1:27017/markfinance
JWT_SECRET=your_secure_random_secret_here
PORT=5001
UPSTOX_ACCESS_TOKEN=your_upstox_access_token_here
UPSTOX_INSTRUMENT_MASTER_URL=https://assets.upstox.com/market-quote/instruments/exchange/complete.json.gz
